<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>create</title>
</head>
<body>
<form th:action="@{/genres}" method="post" enctype="multipart/form-data" th:object="${genre}">
    <H1>Новый жанр</H1><br>
    <label for="genreName">Название жанра:
        <input id="genreName" type="text" name="name" th:value="*{getName()}">

    </label>
    <label for="image">
        <input id="image" type="file" name="image">
    </label><br>
    <button type="submit">Создать новый жанр</button>
</form>


<form th:action="@{/genres}" method="get">
    <button type="submit">Назад</button>
</form>
</body>
</html>